@import "tailwindcss";
@import "@fontsource-variable/dm-sans";
@import "@fontsource-variable/ubuntu-sans-mono";
@import "@fontsource-variable/source-serif-4";

@theme {
  --font-sans: "DM Sans Variable", sans-serif;
  --font-serif: "Source Serif 4 Variable", serif;
  --font-mono: "Ubuntu Sans Mono Variable", monospace;
}
